<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    
    <div class="media pt-3 pl-3 pb-1" >
        <a href="{% url 'users:detail' post.user.username %}">
            <img class="mr-3 rounded-circle" height="35" width="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}" >
        </a>
        <div class="media-body">
            <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
        </div>
    </div>

    <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">


    <p class="mt-1 ml-2" >

        <div class="container">
            <p>
                {{ post.description }}
            </p>
        </div>
        <!-- Likes -->
        <form action="{% url 'posts:like'%}" method='POST' >
            {% csrf_token %}
            <input type='hidden' name='post_id' value="{{post.pk}}">
            <button  type='submit hidden' class="like">
                
                {% if user.pk not in post.liked_by %}
                    <i class="far fa-heart fa-spin like-icon" ></i>
                {% else %}
                    <i class="fa fa-heart dislike-icon" aria-hidden="true"></i>
                {% endif %}
            
            
            </button>{{ post.likes }} likes 
            
        </form>

        <p class="ml-2 mt-0 mb-2">
            <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
        </p>

        <div class="container comment bg-secondary text-white">
            {% if not post.comments %}
                Sin comentarios...
            {% endif %}
            {% for comment in post.comments  %}
                {% if request.user.pk not in comment.user.profile.blocked_to and comment.user.pk not in request.user.profile.blocked_to %}
                    
                    <div class="row ml-2">
                        <a class="col-1" href="{% url 'users:detail' comment.user.username %}">
                            <img class="mr-3 rounded-circle" height="30" width="30" src="{{ comment.user.profile.picture.url }}" alt="{{ comment.user.get_full_name }}" >
                        </a >
                        <div class="media-body col">
                            <p style="margin-top: 5px;">{{ comment.user.get_full_name  }}</p>
                        </div>
                
                        <p class="ml-2 mt-0 mb-2 col">
                            <small>{{ comment.modified }}</small>
                        </p>
                    </div>

                    <div class="row ml-2 row-comment" >
                        <p style="font-size: 15px;">
                            {{ comment.comment }}
                        </p>
                    </div>

                    <div class="row ml-2">
                        {% if request.user == comment.user %}
                        <!-- Delete Comment -->

                            <form action="{% url "posts:delete_comment" %}" method="POST" class="col-1 delete-comment">
                                
                                {% csrf_token %}
                                <input type='hidden' name='post_id' value="{{post.pk}}">
                                <input type="hidden" name="comment_id" value="{{ comment.pk }}">
                                <button type="submit hidden" class="delete-comment-button" >
                                    <i class="fa fa-trash trash-icon" aria-hidden="true"></i>
                                </button>
                            </form>
                            <!-- Update comment -->
                            <form action="{% url "posts:update_comment" comment.pk %}" method="POST" class="col update-comment">
                                
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.pk }}">
                                <button type="submit hidden" class="update-comment-button">
                                    <i class="fas fa-arrow-alt-circle-up update-icon" aria-hidden="true"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>

                    
                    
                {% endif %}

                
                 
            {% endfor %}

        </div >
<!-- New Comments -->
        <form action="{% url "posts:comment" %}" method="POST">
            {% csrf_token %}
            <input type='hidden' name='user_id' value="{{ request.user.pk }}">
            <input type='hidden' name='post_id' value="{{ post.pk }}">
            <textarea 
                class="form-control" 
                name="comment" 
                placeholder="Escribe aqui tu comentario!"
                required="True"></textarea>
            <button class="btn btn-danger button-danger" type="submit">Comentar <i class="fa fa-comments" aria-hidden="true"></i></button>
            
        </form>
         
    </p>



</div>    