<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container" style="background-color: rgb(255, 255, 255);color:rgb(0, 0, 0);">
    
    <div class="media pt-3 pl-3 pb-1" >
        <a href="{% url 'users:detail' post.user.username %}">
            <img class="mr-3 rounded-circle" height="35" width="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}" >
        </a>
        <div class="media-body">
            <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
        </div>
    </div>

    <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">


    <p class="mt-1 ml-2" >

            
            
            <button  type='submit hidden' class="like" name="{{ post.pk }}" 
            style="border-color: transparent;background-color: transparent;">
                
                {% if user.pk not in post.liked_by %}
                    <i class="far fa-heart" style="color: rgb(0, 0, 0);"></i>
                {% else %}
                    <i class="fa fa-heart " aria-hidden="true" style="color: red;"></i>
                {% endif %}
            </button>{{ post.likes }}

        
        <script>
            $('.like').click(function(){
                $.ajax("/posts/like/",{
                    type: "POST",
                    url: "{% url 'posts:like' %}",
                    data: {'id_post': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(rs, e) {
                        alert(rs.responseText);
                    }
                }); 
            })
        </script> 

       

    </p>



    <p class="ml-2 mt-0 mb-2">
        <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
    </p>
</div>