{% extends "base.html" %}

{% block head_content %}
    <title>Actualizar un post</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Actualiza tu post!</h4>

                <form method="POST"  >
                    {% csrf_token %}

                   
                    {# Title field #}
                    <div class="form-group">
                        <label>Titulo</label>
                        <input
                            class="form-control"
                            type="text"
                            name="title"
                            value="{{ post.title }}"
                            required="True"
                        >
                        <!-- <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                {{ error }}
                            {% endfor %}
                        </div> -->
                    </div>
                    {# description field #}
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea 
                            required="True"
                            class="form-control " 
                            name="description">{{ post.description }}
                            
                        </textarea>
                        
                        <!-- <div class="invalid-feedback">
                            {% for error in form.description.errors  %}
                                {{error}}
                            {% endfor %}
                        </div> -->
                    </div>

                    <button type="submit" class="btn btn-danger btn-block mt-5" >Actualizar!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}