<footer class="bg-light text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!-- Twitter -->
      <p style="color: black;">Contactanos!</p>
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/juandavidarce_"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/JuanDavidArce"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(255, 0, 0, 0.712);">
    © 2022 Copyright:
    <a class="text-white" href="">ArceGram</a>
  </div>
  <!-- Copyright -->
</footer>