{% load static %}
<nav class="navbar navbar-expand sticky-top top-navbar"  >
    <div class="container-fluid">

        <a class="navbar-brand pr-5 logo-ArceGram-nav"  href="{% url 'posts:feed' %}">
            <img src="https://dl.dropboxusercontent.com/s/nx93c9tbwbln77r/ArceGram.png?dl=0" height="45" class="d-inline-block align-top"/>
        </a>

        <div class="collapse navbar-collapse">
            <div class="dropdown">

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>

                <ul class="navbar-nav mr-auto dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <!-- detail user -->

                    <li class="nav-item dropdown-item">
                        <a href="{% url 'users:detail' request.user.username %}">
                            {% if request.user.profile.picture %}
                                <img src="{{ request.user.profile.picture.url }}" height="35" width="35" class="d-inline-block align-top rounded-circle"/>
                            {% else %}
                                <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-Download-PNG-Image.png" height="35" width="35" class="d-inline-block align-top rounded-circle"/>
                            {% endif %}
                        </a>
                    </li>
                    <!-- Create post -->
                    <li class="nav-item nav-icon dropdown-item">
                        <a href="{% url 'posts:create' %}">
                            <i class="fas fa-plus new-post-icon"></i>
                        </a>
                    </li>
                    <!-- Logout -->
                    <li class="nav-item nav-icon dropdown-item">
                        <a href="{% url 'users:logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>

                    <!-- Chat -->
                    <li class="nav-item nav-icon dropdown-item">
                        <a href="{% url 'chat:chat' %}">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </a>
                    </li>

                    <!-- News -->
                    <li class="nav-item nav-icon dropdown-item">
                        <a href="{% url 'users:news' %}">
                            <i class="fa fa-newspaper" aria-hidden="true"></i>
                        </a>
                    </li>

                    
                </ul>
            </div> 
            
            <!-- Search user -->
            <form action="{% url 'users:search' %}" method="GET" class="form-inline">
                {% csrf_token %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input name="user_to_search" type="text" class="form-control" placeholder="Nombre de usuario" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-secondary">Buscar</button>

            </form>
        </div>
    </div>
</nav>