{% extends "base.html" %}

{% block container %}
    <div class="row-12"><h3>Following <i class="fa fa-users" aria-hidden="true"></i></h3></div>
    <div class="row-12">
        <div class="list-group">
            <div class="list-group-item" style="background-color: rgb(255, 138, 138);"><h5 style="color: white;">Username</h5></div>
            {% for follow in following  %}
                <a href="{% url "users:detail" follow.user.username %}" class="list-group-item">{{ follow.user.username }}</a>
            {% endfor %}
    
        </div>
    </div>
    
    
{% endblock container %}