{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="row-12"><h3>Siguiendo <i class="fa fa-users" aria-hidden="true"></i></h3></div>
    <div class="row-12">
        <div class="list-group">
            <div class="list-group-item ban" ><h5 style="color: white;">Nombre de usuario</h5></div>
            {% for follow in following  %}
                {% if request.user.pk not in follow.user.profile.blocked_to %}
                    
                    <a href="{% url 'users:detail' follow.user.username %}" class="list-group-item ">
                        {% if follow.profile.picture %}
                            <img src="{{ follow.profile.picture.url }}" height="35" width="35" class="d-inline-block align-top rounded-circle"/>
                        {% else %}
                            <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-Download-PNG-Image.png" height="35" width="35" class="d-inline-block align-top rounded-circle"/>
                        {% endif %}
                        {{ follow.user.first_name }} {{ follow.user.last_name }} @{{ follow.user.username }}
                    </a>
                {% endif %}
                    
        
                    
           

            {% endfor %}
    
        </div>
    </div>
    
    
{% endblock container %}