{% extends 'users/base.html' %}

{% block head_content %}
    <title>ArceGram Inicio de sesion</title>
{% endblock  %}

{% block container %}
    {% if form.errors %}
        <p class="alert alert-danger">Tu nombre de usuario y contraseña no coinciden, intenta nuevamente</p>
    {% endif %}
    
    <form  method = "POST" action="{% url 'users:login' %}">
        
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        
        <button class="btn btn-danger btn-block mt-5" type="submit">Iniciar sesion!</button>
    </form>
    <p class="mt-4">No tienes una cuenta todavia? <a href="{% url 'users:signup' %}">Registrate aqui!.</a></p>
    
{% endblock  %}