{% extends "users/base.html" %}

{% block head_content %}
    <title>ArceGram Privacidad</title>
{% endblock  %}

{% block container %}
<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Terminos y condiciones!</h4>
    <p style="text-align: left;">ArceGram busca ser una plataforma segura para que todos puedan interactuar sin ningun problema,los datos son eliminados por completo cuando el usuario elimina su cuenta. para preservar  su privacidad  se implementan algunos metodos de cifrado y medidas de seguridad, sin embargo ningun sistema es completamente seguro y ArceGram no es la excepcion dado que es un proyecto estudiantil pequeño el cual puede presentar fallos por alguna circunstancia. Teniendo claro esto, al hacer click en registrarse ArceGram y su creador no se hacen responsables por algun fallo, filtracion o perdida de datos.Toda persona que publique material sexual, incitando a la violencia, drogadiccion, armas o algun tipo de contenido que no sea apropiado sera sometido a la eliminacion de su cuenta y este no la podra recuperar bajo ninguna circunstancia</p>
  </div>

{% endblock  %}